subscription_id = "00000000-0000-0000-0000-000000000000"
name_prefix     = "schemaregistry"
environment     = "test"
location        = "eastus"
image_tag       = "0.1.9"

tags = {
  owner = "schema-registry"
}
